/* ================= GLOBAL STYLES ================= */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightblue;
}

section {
    padding: 60px 20px;
}

h2{
    text-align: center;
}

/* ================= NAVBAR ================= */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #222;
    color: white;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* ================= HERO ================= */
.hero {
    text-align: center;
}

/* ================= ABOUT ================= */
.about {
    
}

.about p{
    padding: 10px;;
}

#about-flex{
    display: flex;
    gap: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 15px;
}

/* ================= EXPERIENCE ================= */
.experience {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal columns */
  gap: 20px;
}

.experience h2 {
    grid-column-start: 1;
    grid-column-end: -1;
}
.job {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #222;
  border-radius: 15px;
  padding: 15px;
  width: auto;;
}

.job-left {
  min-width: 220px; /* adjust to taste */
}

.job-left h3 {
  margin: 0 0 5px 0;
}

.job-dates {
  margin: 0;
}

.job-bullets {
  margin: 0;
  padding-left: 20px;
}

/* ================= EDUCATION ================= */
.education {}

.education p{
    text-align: center;
     margin-top: 0px;
    margin-bottom: 0px;
}

/* ================= CERTIFICATIONS ================= */
.certifications {
    text-align: center;
}

.certifications ul {
    list-style-position: inside;  /* keeps bullets visible when centered */
    padding-left: 0px;
    margin-left: 0px;;
}

.certifications ul li {
    padding-left: 0px;
    margin-left: 0px;
}

#bullet-1{
    margin-left: 25px;;
}



/* ================= PROJECTS ================= */
.projects {
     display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal columns */
  gap: 20px;
}

.projects h2 {
    grid-column-start: 1;
    grid-column-end: -1;
}

.project-card {
    border: 1px solid #222;
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
}

/* ================= SKILLS ================= */
.skills {}

.skills p{
    text-align: center;
}

/* ================= CONTACT ================= */
.contact {}

.contact p{
    text-align: center;
}

.contact a{
    color: #222;
    font-weight: bold;
}

/* ================= FOOTER ================= */
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}

#headshot {
    width: 250px;
    height: 250px; 
    object-fit: cover;
    border-radius: 5%;
}

.project-card{

}
